<div class="user-banner d-flex justify-content-around align-items-center mt-4">
  <div class="user-pic">
    <%= cl_image_tag current_user.photo.key, width: 300, class: "user-avatar" %>
  </div>
  <div class="info-block">
    <div class="user-id">
      <h1>Hello, <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class="user-info">
      <h3>
        You have <%= pluralize @user.offers.size, "offer" %>
      </h3>
      <ul>
        <li style="color: #F2B441"><i class="fas fa-star ml-1"></i></li>
        <li style="color: #F2B441"><i class="fas fa-star mx-1"></i></li>
        <li style="color: #F2B441"><i class="fas fa-star"></i></li>
        <li style="color: #F2B441"><i class="fas fa-star mx-1"></i></li>
      </ul>
    </div>
    <div class="offer-actions mt-4">
      <%= link_to new_offer_path, class: 'button-offer' do %>
        New Offer
      <% end %>
      <%= link_to "#", class: 'button-offer' do %>
        My Offers
      <% end %>
    </div>
  </div>
</div>

<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>

<div class="deals-container mt-2 mb-4">
  <div class="row">
    <div class="my-deal-requests col-6">
      <h3>My deals:</h3>
      <% if @pending_requests.count.zero? %>
        <h4>It seems like you don't have any deals open</h4>
      <% end %>
      <% @user.offers.each do |offer| %>
        <% offer.deals.each do |deal| %>
          <% if deal.status == 'pending' %>
            <div class="deal-card my-2">
              <div class="card-image">
                <%= cl_image_tag offer.photos.first.key, width: 133 %>
              </div>
              <div class="deal-card-infos">
                <h2><%= offer.name %></h2>
                <p>Requested by: <%= deal.user.username %></p>
                <div class="actions my-2 d-flex">
                  <%= link_to approve_deal_path(deal), method: :post, class: "d-flex align-items-center approve" do %>
                    <i class="fas fa-thumbs-up mx-2"></i>
                    <p>Approve</p>
                  <% end %>
                  <%= link_to deny_deal_path(deal), method: :post, class: "d-flex align-items-center deny" do %>
                    <i class="fas fa-thumbs-down mx-2"></i>
                    <p>Deny</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="my-offers-requests col-6">
      <h3>My requests:</h3>
        <% @my_requests.each do |request|%>
          <div class="deal-card my-2">
            <div class="card-image">
              <%= cl_image_tag request.offer.photos.first.key, width: 133 %>
            </div>
            <div class="deal-card-infos">
              <p><%= request.offer.name %></p>
              <p>Status: <%= request.status.capitalize %></p>
              <div class="actions my-2 d-flex">
                <%= link_to '#', class: 'cancel d-flex align-items-center cancel' do %>
                  <i class="fas fa-window-close mx-2"></i>
                  <p>Cancel</p>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
