<div class="footer fixed-bottom">
  <div class="footer-text">
    <p>Developed with
      <i class="fas fa-heart"></i>
    </p>
  </div>
  <div class="footer-links">
    <%= link_to root_path do %>
      <%= image_tag "https://via.placeholder.com/40", class: "avatar" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "https://via.placeholder.com/40", class: "avatar" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "https://via.placeholder.com/40", class: "avatar" %>
    <% end %>
    <%= link_to root_path do %>
      <%= image_tag "https://via.placeholder.com/40", class: "avatar" %>
    <% end %>
  </div>
  <div class="footer-text">
    <p>at Le Wagon Bootcamp batch #609 </p>
  </div>
</div>
