<div class="container">
  <div class="instruments">

    <div class="instrument_element">

      <%= link_to '/offers?query=electric+guitar' do %>
        <%= image_tag "https://res.cloudinary.com/rent-an-instrument/image/upload/v1622647969/Rent_an_instrument/electric-guitar_snkipd.png", style: "width: 180px" %>
        <h5>Electric Guitars</h5>
      <% end %>

    </div>

    <div class="instrument_element">

      <%= link_to '/offers?query=guitar' do %>
        <%= image_tag "https://res.cloudinary.com/rent-an-instrument/image/upload/v1622647982/Rent_an_instrument/guitar_xgktkz.png", style: "width: 180px" %>
        <h5>Guitars</h5>
      <% end %>

    </div>

    <div class="instrument_element">

      <%= link_to '/offers?query=bass' do %>
        <%= image_tag "https://res.cloudinary.com/rent-an-instrument/image/upload/v1622648036/Rent_an_instrument/bass_bxk9et.png", style: "width: 180px" %>
        <h5>Basses</h5>
      <% end %>

    </div>

    <div class="instrument_element">

      <%= link_to '/offers?query=drums' do %>
        <%= image_tag "https://res.cloudinary.com/rent-an-instrument/image/upload/v1622647959/Rent_an_instrument/drums_hp7mwj.png", style: "width: 180px" %>
        <h5>Drums</h5>
      <% end %>

    </div>
    <div class="instrument_element">

       <%= link_to '/offers?query=violin' do %>
        <%= image_tag "https://res.cloudinary.com/rent-an-instrument/image/upload/v1622648012/Rent_an_instrument/violin_lgx7m2.png", style: "width: 180px" %>
        <h5>Violins</h5>
      <% end %>

    </div>
  </div>
</div>
