<h1>Welcome to Instrument Rental</h1>


<%= link_to offers_path do %>
  <%= image_tag "https://static.turbosquid.com/Preview/001233/638/6C/3D-electric-guitar-b-c_600.jpg", style: "width: 180px" %> 
<% end %>
<%= link_to offers_path do %>
  <%= image_tag "https://cdn.awsli.com.br/600x450/180/180796/produto/39153202f854c6cf1d.jpg", style: "width: 180px" %> 
<% end %>
<%= link_to offers_path do %>
  <%= image_tag "https://www.capoeirashop.fr/132-large_default/pandeiro-lua-rasta.jpg", style: "width: 180px" %> 
<% end %>

<%= link_to  "New offer", new_offer_path %>

<p>Find me in app/views/pages/home.html.erb</p>


