<h1>Offers:</h1>

<% @offers.each do |offer| %>
  <%= link_to offer_path(offer) do %>
    <p><%= offer.instrument %></p>
    <p><%= offer.price %></p>
    <p><%= offer.location %></p>
  <% end %>
<% end %>

<%= link_to new_offer_path, class: "btn btn-success" do %>
  Create Offer
<% end %>
