<div class="container">
  <br>
  <%  if params[:query].present? %>
    <h2>Results for '<%= params[:query].upcase %>'</h2>
  <% else %>
    <h2>Results for 'ALL INSTRUMENTS'</h2>
  <% end %>
  <p>
    <%= @offers.size == 0 ? 'No' : @offers.size %> results
  </p>
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer), class:"card-result-link" do %>
      <div class="card-result">
        <div class="card-image">
          <%= cl_image_tag offer.photos.first.key, width: 133 %>
        </div>
        <div class="card-description">
          <h4><%= offer.name %></h4>
          <p><%= offer.overview %>
          </p>
        </div>
        <div class="card-price">
          <p>$<%= offer.price.to_i %><span>/day</span></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <br>
</div>
