<div class="instrument-banner">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <% @offer.photos.each_with_index do |photo, index| %>
            <div class="text-center carousel-item <%= index == 0 ? 'active' : '' %>">
              <%= cl_image_tag photo.key, resize: :pad, crop: :fill, height: 450, width: 600 %>
            </div>
          <% end %>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

</div>

<div class="container" style="margin-top: -48px">
  <div class="row">
    <div class="instrument-info col-8">
      <% if notice %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      <% end %>
      <div class="main-info show-box">
        <h2><%= @offer.name %></h2>
        <h3><%= @offer.location %></h3>
        <h6>#<%= @offer.instrument.gsub(" ", "") %></h6>
        <p><i class="fas fa-dollar-sign"></i> <%= @offer.price %></p>
      </div>
      <div class="description show-box">
        <h3>Item Description</h3>
        <p><%= @offer.description %></p>
      </div>
    </div>
    <div class="book col-4">
      <%= link_to root_path do %>
        <div class="user-info show-box" id="owner-card">
          <h3>Owner's info</h3>
          <h4><%= @offer.user.first_name %> <%= @offer.user.last_name %></h4>
          <p>Contact: <%= @offer.user.email %></p>
          <% if policy(@offer).destroy? %>
            <%= link_to  "Delete", offer_path(@offer), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
      <div class="booking-form show-box">
        <h3>Book this instrument</h3>
        <%= simple_form_for [ @offer, @deal ] do |f| %>
          <%= f.input :start_date, as: :string, type: :text %>
          <%= f.input :end_date, as: :string, type: :text %>
          <%= f.submit "Book", class: "btn w-100", style: "background-color: #F5C53D" %>
        <% end %>
      </div>
      <div class="social show-box text-center">
        <h3>Share this offer</h3>
        <div class="social-buttons">
          <ul>
            <%= link_to "#", class: "mx-1" do %>
              <li><i class="fab fa-facebook-square"></i></li>
            <% end %>
            <%= link_to "#", class: "mx-1" do %>
              <li><i class="fab fa-twitter-square"></i></li>
            <% end %>
            <%= link_to "#", class: "mx-1" do %>
              <li><i class="fab fa-instagram"></i></li>
            <% end %>
            <%= link_to "#", class: "mx-1" do %>
              <li><i class="fab fa-whatsapp-square"></i></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
